# streamlit
# python-dotenv
# openai
# langchain
# langchain-groq
# langchain_community
# langchain_core
# pypdf
# chromadb
# sentence-transformers
# torch
streamlit
langchain
langchain-community
langchain-classic
langchain-groq
chromadb
langchain-huggingface
sentence-transformers
transformers
torch
pypdf
python-dotenv
torchvision
